@import "Styles/mixins";

.dataTable {
    :global .cds--data-table thead {
        background: var(--cds-ui-background) !important;
    }
    :global .cds--data-table th {
        background: var(--cds-ui-background) !important;
    }
    :global .cds--data-table-container {
        padding-bottom: 1rem;
    }
}
